/* FRAMES THE WEB APPLICATION */
body {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 5%;
}

/* SCREENS */
#todo_home {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 5px 10px 5px 10px;
}
#todo_list_edit {
    position: fixed;
    width: 80%;
    left: 10%;
    top: 15%;
}
#todo_list {}
#todo_item {}

/* HOME SCREEN CONTROLS */
#home_your_lists_container {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
#home_your_lists_heading {}
#home_your_lists_list {}
#home_banner_container {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    cursor: default;
}
#home_new_list_container {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    display: flex;
}
#home_new_list_button {
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
}

/* HOME SCREEN CLASSES */
.home_list_link {}

/* LIST SCREEN CONTROLS */
#list_heading {
    float: left;
}
#list_trash {
    position: relative;
    left: 82%;
}
#list_details_container {
    padding-left: 2%;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-gap: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}
#list_details_name_container {}
#list_name_prompt {}
#list_name_textfield {}
#list_details_owner_container {}
#list_owner_prompt {}
#list_owner_textfield {}
#list_items_container {}

/* LIST SCREEN CLASSES */
.list_item_card, .list_item_add_card, .list_item_header_card {
    position: relative;
    height: 50px;
    grid-row-gap: 0px;
    grid-column-gap: 50px;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.list_item_card_description {
    position: absolute;
    left: 2%;
}
.list_item_task_header, .list_item_due_date_header, .list_item_status_header {
    position: absolute;
    top: 5%;
}
.list_item_card_assigned_to, .list_item_card_due_date, 
.list_item_card_completed, .list_item_card_not_completed {
    position: absolute;
    top: 50%;
}
.list_item_task_header, .list_item_card_assigned_to {
    left: 2%;
}
.list_item_due_date_header, .list_item_card_due_date {
    left: 35%;
}
.list_item_status_header, .list_item_card_completed, .list_item_card_not_completed {
    left: 60%;
}
.list_item_card_toolbar {
    position: absolute;
    left: 85%;
    width: 15%;
    top: 5%;
    height: 90%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.list_item_card_button {
    text-align: center;
    border-radius: 5px;
    margin: 1%;
    cursor: pointer;
}
.list_item_add_card {
    text-align: center;
    vertical-align: center;
}

/* ITEM SCREEN CONTROLS */
#item_heading {}
#item_form_container {
    display: grid;
}
#item_description_prompt {}
#item_description_textfield {
    font-size: 24px;
}
#item_assigned_to_prompt {}
#item_assigned_to_textfield {
    font-size: 24px;
}
#item_due_date_prompt {}
#item_due_date_picker {
    font-size: 24px;
}
#item_completed_prompt {}
#item_completed_checkbox {
    
}
#item_form_submit_button {}
#item_form_cancel_button {}

/* ITEM SCREEN CLASSES */
.item_prompt {
    grid-column: 1 / 4;
}
.item_input {
    grid-column: 3 / 4;
}

.modal {
    display: none; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 230px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}
  
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    background-color: #E1E4CB;
    border: 1px solid #E1E4CB;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-content-out {
    display: block;
    position: relative;
    margin: auto;
    padding: 0;
    background-color: #E1E4CB;
    border: 1px solid #E1E4CB;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animateout;
    animation-duration: 0.5s
}

@keyframes animateout {
    from {top:0px; opacity:0}
    to {top:-600px; opacity:1}
}
  
.modal-body {
    background-color: #E1E4CB;
    padding: 2px;
}

.is_visible{
    display: block;
}

#list_new_item_div {
    text-align: center;
}

#list_new_item_button {
    cursor: pointer;
}

#todo_list_edit_container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 25% 75%;
    grid-row-gap: 24px;
    grid-template-rows: 36px 36px 36px 16px;

    font-weight: bold;
}

#list_edit_submit_button, #list_edit_cancel_button {
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16pt;
}